* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container {
  height: 600px;
  width: 600px;
  outline: 2px solid black;

  display: flex;
  flex-wrap: wrap;
}

.container div {
  border: 1px solid black;
  flex: auto;
}

.fill-square {
  background-color: aqua;
}

button {
  padding: 5px;
  font-size: 16px;
}
